<header class="header">
  <div class="container header__container">
    <div class="logo header-logo">
      <img src="assets/images/logo.png" alt="website-logo">
    </div>
    <nav class="header-navigation" id="menu">
      <div class="close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
<g>
	<g>
		<path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
	</g>
</g>
</svg>
      </div>
      <ul class="navigation-list">
        <li class="navigation-item">
          <a href="javascript:void(0)" class="navigation-link" (click)="scrollTo(menuElement)">Пироженки</a>
        </li>
        <li class="navigation-item">
          <a href="javascript:void(0)" class="navigation-link" (click)="scrollTo(aboutUs)">О Нас</a>
        </li>
        <li class="navigation-item">
          <a href="javascript:void(0)" class="navigation-link" (click)="scrollTo(orderElement)">Оформиль заказ</a>
        </li>
      </ul>
    </nav>
    <a class="header-contacts contacts" [href]="'tel: ' + phoneNumber | phoneFormat">{{phoneNumber | phoneFormat}}</a>
    <div class="burger" id="burger">
      <svg id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"
           xmlns="http://www.w3.org/2000/svg">
        <path d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/>
        <path d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/>
        <path d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z"/>
      </svg>
    </div>
  </div>
</header>

<section class="main">
  <div class="container main__container">
    <div class="main__info">
      <div class="main__info-title">
        Мягкие французские
        пироженки Macaroons
      </div>
      <div class="main__info-text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="main__action">
        <button class="btn main__btn" (click)="scrollTo(menuElement)" ButtonEffects >Выбрать маракун</button>
      </div>
    </div>
    <div class="main__info-image">
      <img src="assets/images/main-image.png" alt="Макаруны">
    </div>
  </div>
</section>

<section class="advantages" id="advantages" #aboutUs>
  <div class="container advantages__container">
    <div class="story__block">
      <div class="story__title">
        Мы печём для вас вкуснейшие макаруны уже более 10 лет
      </div>
      <div class="story__text">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
        маргарина, разрыхлителей и улучшителей муки.
      </div>
    </div>
    <div class="advantages__image">
      <img class="advantages__image-img" src="assets/images/advantages-img.png" alt="Картинка-Макаруна">
    </div>
    <div class="advantages_list">

      <advantage *ngFor="let advantage of advantages" [advantage]="advantage"></advantage>

    </div>

  </div>
</section>

<section class="menu" #menuElement>
  <div class="container menu__container">
    <div class="menu__container-title">Выберите свой макарун</div>
    <div class="menu__items-list">

      <product *ngFor="let product of products" [product]="product" (addToCartEvent)="addToCard($event, orderElement)"></product>

    </div>
  </div>
</section>

<section class="order" id="order" #orderElement>
  <div class="container order__container">
    <div class="order__images">
      <img class="order__image1" src="assets/images/order_strawberry1.png" alt="strawberry1">
      <img class="order__image2" src="assets/images/order_macaron.png" alt="strawberry2">
    </div>
    <div class="order__menu">
      <div class="order__title">Закажите макарун!</div>
      <div class="order__text">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <label class="text-us">
        <div class="text-us-title">Ваш выбор</div>
        <input class="text-us-input" type="text" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productTitle">
      </label>
      <div class="order__details">
        <label>
          <div class="order__details-title">
            Заполните данные для заказа
          </div>
          <div class="order__details-name">
            <input class="order__inputs" type="text" placeholder="Ваше имя" [(ngModel)]="formValues.name">
          </div>
        </label>
        <label>
          <div class="order__details-number">
            <input class="order__inputs" type="text" placeholder="+375(__)___-__-__" [(ngModel)]="formValues.phone">
          </div>
        </label>
        <div class="order__details-btn">
          <button class="btn order__btn" (click)="createOrder()" ButtonEffects >Оформить заказ</button>
        </div>
      </div>
      <div class="order__menu-image">
        <img src="assets/images/order_strawberry2.png" alt="strawberry2">
      </div>
    </div>
  </div>
</section>

<div class="extra-gift" *ngIf="showPresent">
  <img class="gift-image" src="assets/images/cart.png" alt="TakeYourGift">
  <div class="gift-count">{{cartService.count}}</div>
  <div class="gift-text">
    {{productService.totalPrice | currency: '':'': '1.2-2'}} руб.
    <div class="triangle-right"></div>
    <div class="triangle-right-background"></div>
  </div>
</div>

